
*{
    margin: 0px;
    padding: 0px;
}

html
{
	width: 100%;
	background-color: #ffffff;
}

body
{
	background-color: beige;
}

#wrapper
{
	display: block;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #ffffff;
}


#wrapperBackend
{
	display: block;
	height: auto;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #ffffff;
}


.logo img
{
	width: 100%;
	height: auto;
}

.logo
{
	margin-top: -1px;
	margin-left: -1px;
}

#navigation li
{
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    list-style-type: none;
}

#navigation
{
	margin-top: -4px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: -1px;
    width: 100% +1px;
    text-align: center;
    font-family: "Calibri","Gabriola","MV Boli", "Segoe Print", "Comic Sans MS";
    border: 3px solid #4faf4d;
    background: #67b965; /* saftig, dunkel: 4faf4d */
}

#navigation a:link, #navigation a:visited
{
	font-size: 250%;
	line-height: 100%;
	color: #000000;
	text-decoration: none;
}


#navigation a:hover, #navigation a:active
{
	font-size: 250%;
	color: #FF0000;
	text-decoration: none;
}


#favouriteDiv
{
	text-align: center;
}

#favouriteDiv form
{
	display: inline;
}

#favouriteButton
{
	display: inline;
	font-family: 'Calibri';
	border: 3px solid #ff0000; /* nice green: #3ab415 */
	border-radius: 10px;
	margin: 1%;
	width: 20%;
	color: #ff0000; /* nice green: #3ab415 */
	cursor: pointer;
	background: none;
	font-weight: bold;
	font-size: 1.3vw;
	text-align: right;
	padding-right: 3%;
	line-height: 100%;
}

#unfavouriteButton:hover
{
	display: inline;
	font-family: 'Calibri';
	border: 3px solid #ff0000; /* nice green: #3ab415 */
	border-radius: 10px;
	margin: 1%;
	width: 20%;
	color: #ff0000; /* nice green: #3ab415 */
	cursor: pointer;
	background: none;
	font-weight: bold;
	font-size: 1.3vw;
	text-align: right;
	padding-right: 1%;
	line-height: 100%;
}	

#favouriteButton:hover
{
	display: inline;
	font-family: 'Calibri';
	border: 3px solid #ff0000; /* nice green: #3ab415 */
	border-radius: 10px;
	margin: 1%;
	width: 20%;
	color: #FFFFFF;
	cursor: pointer;
	background: none;
	background: #ff0000; /* nice green: #3ab415 */
	font-weight: bold;
	font-size: 1.3vw;
	text-align: right;
	padding-right: 3%;
	line-height: 100%;
}

#unfavouriteButton
{
	display: inline;
	font-family: 'Calibri';
	border: 3px solid #ff0000; /* nice green: #3ab415 */
	border-radius: 10px;
	margin: 1%;
	width: 20%;
	color: #FFFFFF;
	cursor: pointer;
	background: none;
	background: #ff0000; /* nice green: #3ab415 */
	font-weight: bold;
	font-size: 1.3vw;
	text-align: right;
	padding-right: 2%;
	line-height: 100%;
}

#favouriteStar
{
	float: left;
	margin-left: 3%;
	width: 1.3vw;
}

#favouriteCountDiv
{
	display: inline;
	text-align: center;
	color: #ff0000; /* nice green: #3ab415 */
	font-size: 1.25vw;
	font-family: 'Calibri','Arial Black', 'Arial';
	font-weight: 700;
	margin-left: 4%;
}

#favouriteCount
{
	font-family: 'Calibri','Arial Black', 'Arial';
	font-weight: 900;
	font-size: 1.4vw;
}

#titleDiv
{
	text-align: center;
	font-family: "Calibri","Arial",sans-serif;
	font-size: 2.5vw;
	font-weight: bold;
	margin-top: 1%;
}

.comic_navigation
{
	display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    width: 96%;
    list-style-type: none;
    text-align: center;
}

.comic_navigation img
{
	width: 5%;
	height: auto;
	/*background: #bfe2b8; */
}

.comic_navigation .blank img
{
	color: RGBA(0,0,0,0);
	background: RGBA(0,0,0,0);
}



.navRandom img
{
	width: 16%;
	height: auto;
}


.comic_navigation li
{
	display: inline;
	margin-left: 2%;
    margin-right: 2%;
}


#content
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

#comicPicture
{
	width: 100%;
	height: auto;
}

#adminLoginDiv
{
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

.loginForm
{
	color: #25a722; /* blue theme: #4433ee*/
	fontsize: 20px;
	margin: 3% auto 5%;
	padding: 1%;
	width: 400px;
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
}

.loginForm a:visited,.loginForm a:link
{
	text-decoration: none;
	color: #ee7711;
}

.loginForm a:hover,.loginForm a:active
{
	text-decoration: underline;
	color: #ee7711;
}

.loginForm fieldset
{
	padding-top: 3%;
	border: 3px solid #4faf4d; /*blue theme: #3366dd*/
	border-radius: 15px;
	background-color: rgb(210,210,210);
}
/*#67b965;  saftig, dunkel: 4faf4d */
.loginIcon
{
	display: inline;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 55px;
	height: 50px;
	width: 50px;
	background: RGB(130,130,130);
	border: solid 5px RGB(130,130,130);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.loginIcon img
{
	margin: 5px;
	margin-top: 0px;
}

.loginForm input[type=text],.loginForm input[type=password]
{
	float: left;
	margin-left: 0px;
	margin-top: 10px;
	line-height: 50px;
	text-align: left;
	width: 200px;
	background: RGB(220,220,220);
	padding-left: 5%;
	border: solid 5px RGB(130,130,130);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 25px;
}

.loginForm input[type=password]
{
	margin-bottom: 5px;
}

.loginForm a:link, .loginForm a:visited
{
	margin-left: 93px;
	font-size: 19px;
}

.loginForm a:hover, .loginForm a:active
{
	margin-left: 93px;
	font-size: 19px;
}

#loginButton
{
	float: left;
	margin: 7px 90px 20px 90px;
	width: 220px;
	height: 35px;
	border: 3px solid #4faf4d; /*blue theme: #3366dd; */
	border-radius: 5px;
	background: #4faf4d; /*blue theme: #3366dd; */
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 22px;
}

#loginButton:hover
{
	float: left;
	margin: 7px 90px 20px 90px;
	width: 220px;
	height: 35px;
	border: 3px solid #67b965; /*blue theme: #5b82dd;*/
	border-radius: 5px;
	background: #67b965; /*blue theme: #5b82dd;*/
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 22px;
	cursor: pointer;
}

#options
{
	width: 100%;
	margin-top: 2%;
}

#optionsListDiv
{
	display: block;
	float: left;
    margin: 2%;
    width: 30%;
    border: 3px solid #4faf4d; /*blue theme: #3366dd;*/
	border-radius: 8px;
}

#optionsListDiv li
{
	text-decoration: none;
	display: block;
    margin: 2%;
    width: 96%;
    list-style-type: none;
    font-size: 23px;
}

#optionsListDiv li a:visited,#optionsListDiv a:link
{
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	color: #4faf4d; /*blue theme: #3366dd;*/
}
	
#optionsListDiv li a:hover,#optionsListDiv a:active
{
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	color: #71d76f; /*blue theme: #4bb2ee;*/
}

#activeApplication
{
	display: block;
	float: left;
    margin: 2%;
    width: 60%;
    font-family: Arial;
}


#activeApplication fieldset
{
	padding: 0.5%;
	margin: 0.5%;
	margin-top: 0%;
	border: 3px solid #4faf4d; /*blue theme: #3366dd;*/
	border-radius: 8px;
}


#activeApplication fieldset fieldset
{
	border-width: 2px;
	margin: 3%;
}

#newPassForm p, #newEmailForm p
{
	font-family: "Calibri","Arial",sans-serif;
	font-size: 20px;
	margin-left: 2.5%;
	margin-top: 1%;
}

.newPass, .newEmail, #newAvatarPass
{
	margin: 1%;
	margin-left: 2%;
	line-height: 120%;
	text-align: left;
	width: 45%;
	background: RGB(220,220,220);
	padding-left: 2.5%;
	border: solid 2px RGB(130,130,130);
	border-radius: 5px;
	font-size: 1.1vw;
}


#checkMark img
{
	display: inline;
	width: 4%;
	margin-bottom: -5px;
}

#checkMark
{
	display: inline;
}

#newPassSubmit, #newEmailSubmit, #newAvatarForm #newAvatarSubmit
{
	margin: 1%;
	margin-left: 2%;
	width: 30%;
	border: 3px solid #4faf4d; /*blue theme: #3366dd;*/
	border-radius: 5px;
	background: #4faf4d; /*blue theme: #3366dd;*/
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 1vw;
	line-height: 120%;
	text-align: center;
}


#newPassSubmit:hover, #newEmailSubmit:hover, #newAvatarForm #newAvatarSubmit:hover
{
	margin: 1%;
	margin-left: 2%;
	border: 3px solid #6bc069; /*blue theme: #5b82dd;*/
	border-radius: 5px;
	background: #6bc069; /*blue theme: #5b82dd;*/
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 1vw;
	cursor: pointer;
	line-height: 120%;
	text-align: center;
}


#newAvatarForm #avatar
{
	margin: 1%;
	margin-left: 2%;
}



#editStripModule h1
{
	font-size: 1.4vw;
	margin: 1%;
}


.editStrip
{
	float: left;
	margin: 2%;
	width: 28.5%;
	border: solid 2px #4faf4d;
	border-radius: 5px;
	overflow: hidden;
}

.editStrip h2
{
	font-size: 1vw;
	margin: 1%;
	margin-right: 3%;
	margin-left: 3%;
}

.editThumb
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: auto;
}


.editStrip p
{
	font-size: 0.75vw;
	margin: 1%;
	margin-right: 3%;
	margin-left: 3%;
}

#uploadForm .inputFile
{
	margin: 1%;
	margin-left: 2%;
}

#uploadForm div
{
	font-size: 0.85vw;
	margin-left: 2%;
	margin-top: 1%;
	display: inline-block;
}

#uploadForm .inputDate, #uploadForm .inputText
{
	margin-left: 1%;
	width: 35%;
	line-height: 120%;
	font-size: 0.85vw;
	text-align: left;
	padding-left: 1.5%;
}


.uploadAnnotation
{
	padding: 1%;
	resize: none;
	font-size: 0.8vw;
	margin: 2%;
	margin-top: 1%;
	width: 94%;
	font-family: Arial;
}


#uploadForm select
{
	font-family: Arial;
	height: 1.3vw;
	font-size: 0.8vw;
	margin-left: 3%;
	width: 25%;
	padding-left: 1.5%;
	margin-bottom: 1%;
}

#uploadForm #resetButton, #uploadForm #submitButton
{
	margin-left: 2%;
	width: 20%;
	border: 5px RGB(255,0,221);
	border-radius: 5px;
	background: #4faf4d; /*blue theme: #3366dd;*/
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 1vw;
	line-height: 140%;
}

#uploadForm #resetButton:hover, #uploadForm #submitButton:hover
{
	width: 20%;
	margin-left: 2%;
	border-radius: 5px;
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 1vw;
	background: #6bc069; /*blue theme: #5b82dd;*/
	cursor: pointer;
	line-height: 140%;
}



#loginLinks
{
	text-align: right;
}

#stripAnnotation
{
	font-family: Arial;
	font-size: 1.1vw;
	margin: 1%;
}


#stripDeleteButton
{
	width: 25%;
	cursor: pointer;
	background: RGB(200,200,200);
	border-radius: 10px;
	border: 3px solid RGB(200,200,200);
	font-size: 1vw;
	font-weight: bold;
	text-align: center;
	line-height: 120%;
}


#stripDeleteButton:hover
{
	width: 25%;
	cursor: pointer;
	background: RGB(230,230,230);
	border-radius: 10px;
	border: 3px solid RGB(230,230,230);
	color: RGB(120,120,120);
	font-size: 1vw;
	font-weight: bold;
	text-align: center;
	line-height: 120%;
}

#stripDeleteButton img
{
	width: 7.5%;
	height: auto;
	margin-right: 7%;
	margin-bottom: -2px;
}

#commentForm textarea
{
	padding: 1%;
	resize: none;
	font-size: 1vw;
	margin: 2%;
	margin-bottom: 0%;
	width: 94%;
	font-family: Calibri;
	border: 2px solid RGB(230,230,230); 
	border-radius: 10px;
}


#commentForm input[type=submit]
{
	margin: 1%;
	margin-left: 2%;
	width: 20%;
	border: 2px solid #4faf4d; /*blue theme: #3366dd;*/
	border-radius: 10px;
	background: #4faf4d; /*blue theme: #3366dd;*/
	font-weight: bold;
	color: #e8cf41;
	font-size: 1.2vw;
	font-family: 'Calibri','Arial',sans-serif;
	line-height: 100%;
}


#commentForm input[type=submit]:hover
{
	margin: 1%;
	margin-left: 2%;
	border: 2px solid #6bc069; /*blue theme: #5b82dd;*/
	border-radius: 10px;
	background: #6bc069; /*blue theme: #5b82dd;*/
	font-weight: bold;
	color: #e8cf41;
	font-size: 1.2vw;
	cursor: pointer;
	font-family: 'Calibri','Arial',sans-serif;
	line-height: 100%;
}

#commentForm
{
	margin: 1%;
}

#commentForm fieldset
{
	border: solid 1px RGB(180,180,180);
	border-radius: 10px;
	background-color: RGB(230,230,230);
}

.commentBox
{
	border: solid 1px RGB(180,180,180);
	border-radius: 10px;
	margin: 1%;
}

.comment, .adminComment
{
	display: inline-block;
	font-family: 'Calibri','Arial',sans-serif;
	font-size: 1.1vw;
	vertical-align: top;
	width: 87%;
	margin-bottom: 1%;
	margin-top: 0.5%;
}

.commentAvatar
{
	margin: 1%;
	width: 10%;
}

.commentHeader
{
	margin-left: 0.5%;
	font-weight: bold;
	font-size: 1.4vw;
	margin-top: 2%;
}

.commentTimestamp
{
	float: right;
	color: gray;
	font-size: 1.1vw;
	font-style: italic;
	font-weight: normal;
	margin-right: 0%;
}

.comment form, .adminComment form
{
	display: inline;
	float: right;
	margin-right: 0.5%;
}

.deleteCommentButton
{
	display: inline;
	float: right;
	cursor: pointer;
	background: none;
	border: none;
}

.commentHeader form
{
	display: inline;
	margin-left: 1%;
	width: 3.5%;
}

.deleteCommentButton img
{
	width: 100%;
}
	
.commentContent
{
	margin-left: 0.5%;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-top: 0.5%;
}

.adminComment .commentHeader
{
	color: #FF0000;
	font-size: 1.4vw;
}

.adminComment .commentContent
{
	font-weight: bold;
}


#favouriteList
{
	margin-top: 3%;
	font-family: 'Calibri','Arial',sans-serif;
}

#favouriteList li
{
    margin: 2%;
    list-style-type: square;
}


#favouriteList a:link, #favouriteList a:visited
{
	font-size: 25px;
	color: #000000;
	text-decoration: none;
}


#favouriteList a:hover, #favouriteList a:active
{
	font-size: 25px;
	color: #FF0000;
}


#registrationFieldset
{
	margin: 3% 24% 3% 24%;
	width: 50%;
	padding: 0.5%;
	padding-top: 2.5%;
	padding-bottom: 2%;
	border: 3px solid #4faf4d; /*blue theme: #3366dd;*/
	border-radius: 15px;
}

.registration
{
	margin: 1% 11.5% 1% 11.5%;
	line-height: 120%;
	text-align: left;
	width: 72%;
	background: RGB(220,220,220);
	padding-left: 4%;
	border: solid 2px RGB(130,130,130);
	border-radius: 5px;
	font-size: 1.1vw;
}

#registrationSubmit
{
	margin: 3% 24.5% 1% 24.5%;
	width: 50%;
	border: 3px solid #4faf4d; /*blue theme: #3366dd;*/
	border-radius: 5px;
	background: #4faf4d; /*blue theme: #3366dd;*/
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 1.1vw;
}


#registrationSubmit:hover
{
	margin: 3% 24.5% 1% 24.5%;
	width: 50%;
	border: 3px solid #6bc069; /*blue theme: #5b82dd;*/
	border-radius: 5px;
	background: #6bc069; /*blue theme: #5b82dd;*/
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: #e8cf41;
	font-size: 1.1vw;
	cursor: pointer;
}


#delayRegistrationButton
{
	margin: 1% 24.5% 2% 24.5%;
	width: 50%;
	border: 3px solid RGB(210,210,210);
	border-radius: 5px;
	background: RGB(210,210,210);
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: RGB(110,110,110);
	font-size: 1vw;
	text-decoration: none;
}


#delayRegistrationButton:hover
{
	margin: 1% 24.5% 2% 24.5%;
	width: 50%;
	border: 3px solid RGB(225,225,225);
	border-radius: 5px;
	background: RGB(225,225,225);
	font-family: Arial, Helvetica, sansserif;
	font-weight: bold;
	color: RGB(110,110,110);
	font-size: 1vw;
	text-decoration: none;
	cursor: pointer;
}

#resetMessage
{
	color: #3ab415;
	font-family: Arial, Helvetica, sansserif;
	font-size: 1.3vw;
	text-align: center;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 4%;
}

#loginError
{
	color: #ff0000;
	font-family: Arial, Helvetica, sansserif;
	font-size: 1.3vw;
	text-align: center;
	font-weight: bold;
	margin-top: 2%;
}

#registerMessageError
{
	color: #ff0000;
	font-family: Arial, Helvetica, sansserif;
	font-size: 1.3vw;
	text-align: center;
	font-weight: bold;
	margin-top: 2%;
}

#registerMessageSuccess
{
	color: #3ab415;
	font-family: Arial, Helvetica, sansserif;
	font-size: 1.3vw;
	text-align: center;
	font-weight: bold;
	margin-top: 2%;
}
