
*{
    margin: 0px;
    padding: 0px;
}

html
{
	width: 100%;
}

#wrapper
{
	display: block;
    height: 1200x;
    width: 99%;
    margin-right: 20%;
    margin-left: 20%;
}

#navigation li
{
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    list-style-type: none;
    text-align: center;
}

#navigation
{
    width: 99%;
    height: 50px;
    margin: auto;
    font-family: "Comic Sans MS";
}

#navigation a:link, #navigation a:visited
{
	font-size: 30px;
	color: #000000;
}


#navigation a:hover, #navigation a:active
{
	font-size: 35px;
	color: #FF0000;
}

.comic_navigation
{
	display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 13px;
    height: 70px;
    width: 99%;
    list-style-type: none;
}

.comic_navigation img
{
	height: 64px;
	width: 64px;
}

.comic_navigation li
{
	display: inline;
	margin-left: 2%;
    margin-right: 2%;
    width: 99%;
}

#content
{
	height: 800px;
    width: 99%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

#comicPicture
{
	height: 600px;
	width: 800px;
}

.editThumbs
{
	height: 300px;
	width: 300px;
}

#loginForm
{
	color: #4433ee;
	fontsize: 20px;
	margintop: 10%;
	marginleft: 10%;
	padding: 1%;
	width: 400px;
	fontfamily: Arial, Helvetica, sansserif;
	fontweight: bold;
}

#loginForm a:visited,#loginForm a:link
{
	textdecoration: none;
	color: #ee7711;
}

#loginForm a:hover,#loginForm a:active
{
	textdecoration: underline;
	color: #ee7711;
}

#loginForm fieldset
{
	bordercolor: #3366dd;
	borderwidth: 3px;
	borderradius: 40px;
	backgroundcolor: rgba(0,0,0,0.3);
	borderstyle: solid;
}

.loginIcon
{
	display: inline;
	float: left;
	margintop: 10px;
	marginright: 0px;
	marginleft: 55px;
	height: 50px;
	width: 50px;
	background: RGB(130,130,130);
	border: solid 5px RGB(130,130,130);
	bordertopleftradius: 5px;
	borderbottomleftradius: 5px;
}

.loginIcon img
{
	margin: 0px 5px 5px 5px;
}

#loginForm input[type=text],#loginForm input[type=password]
{
	float: left;
	marginleft: 0px;
	margintop: 10px;
	lineheight: 50px;
	textalign: left;
	width: 200px;
	background: RGB(200,200,200);
	paddingleft: 5%;
	border: solid 5px RGB(130,130,130);
	bordertoprightradius: 5px;
	borderbottomrightradius: 5px;
	fontsize: 25px;
}

#loginButton
{
	float: left;
	margin: 10px 0px 10px 55px;
	width: 280px;
	height: 40px;
	border: 5px RGB(255,0,221);
	borderradius: 5px;
	background: #3366dd;
	fontfamily: Arial, Helvetica, sansserif;
	fontweight: bold;
	color: #e8c14b;
	fontsize: 25px;
}

#loginButton:hover
{
	float: left;
	margin: 10px 0px 10px 55px;
	width: 280px;
	height: 40px;
	border: 5px RGB(255,0,221);
	borderradius: 5px;
	background: #5b82dd;
	fontfamily: Arial, Helvetica, sansserif;
	fontweight: bold;
	color: #e8c14b;
	fontsize: 25px;
	cursor: pointer;
}
